<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Backend login/register site </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 ...">
   <nav class="bg-blue-700 p-4">
   <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <a class="text-white text-2xl font-bold" href="#">Hunting Coders </a>
      <div class="hidden md:flex space-x-4 gap-8">
        <a class="text-white" href="#">Home</a>
        <a class="text-white" href="#">About</a>
        <a class="text-white" href="#">Services</a>
        <a class="text-white" href="#">Portfolio</a>
        <a class="text-white" href="#">Contact</a>
        <a class="text-white" href="./login">Login</a>
          <div class="md:hidden">
        <button class="text-white p-2">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            viewBox="0 0 24 24" class="w-6 h-6">
            <path d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
     

   
</body>
</html>